.activities-container {
    margin: 0 100px;
    margin-bottom: 2rem;
}

.activities-container ul li {
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding-bottom: 1.5rem;
    text-decoration: underline;
}

.ul-li-none {
    list-style: none;
    text-indent: 3rem;
}

@media  (width <= 768px) {
    .activities-container {        
        margin: 0 2rem;
    }

    .activities-container-ul {
        display: flex;
        justify-content: center;
    }
}


