.activities_old-container {
    margin: 0 100px;
}

.activities_old-container-ul {
    margin-bottom: 3rem;
}

.activities_old-container ul li {
    list-style: none;
    font-size: clamp(1.2rem, 3vw, 3rem);
    text-align: center;
    margin-bottom: 1rem;
}

.activities_old ul li a {
    color: black;
}

@media  (width <= 768px) {
    .activities_old-container-ul {
        display: flex;
        justify-content: center;
    }
}

