.section-climbing_wall {
    margin: 0 100px;
}

.section-climbing_wall-text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: justify;
    padding-bottom: 50px;
}

@media screen and (width <= 768px) {
    .section-climbing_wall {
        margin: 0 40px;
    }
}
