.climbing_wall-container {
    margin: 0 100px;
}

.climbing_wall-container-text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: justify;
    padding-bottom: 50px;
}

@media  (width <= 768px) {
    .climbing_wall-container {
        margin: 0 40px;
    }
}
