* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.headline-main {
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
    padding: 30px 0;
}

.partners {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    padding: 0 0 30px;
}

.partners div {
    display: flex;
    align-items: center;
}

.partners img {
    width: 200px;
    height: auto;
}

@media (width <=768px) {
    .partners {
        gap: 30px;
    }

    .headline-main {
        font-size: 2rem;
    }
}

@media (width <=480px) {
    .partners div {
        width: 100px;
    }

    .section-header-headline {
        font-size: 1.5rem;

    }
}