.footer-section {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.8rem 0;
}

.footer-left {
    display: grid;
    grid-column: 1 / 2;
    align-items: center;
    padding-left: 8rem;
}

.footer-middle {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    justify-content: center;
}

.footer-right {
    display: grid;
    grid-column: 2 / 3;
    justify-content: flex-end;
    padding-right: 8rem;
}

.footer-right p {
    font-size: 1.5rem;
}

.footer-mail {
    display: flex;
    gap: 10px;
}

.icon-mail {
    width: 30px;
}

.imgFacebook {
    width: 2rem;
}

.imgLlamaEllo {
    width: 7rem;
}


@media screen and (width <=768px) {
    .footer-left {
        padding-left: 2rem;
    }

    .footer-right {
        padding-right: 2rem;
    }

}

@media screen and (width <=480px) {
    .footer-left {
        font-size: 0.8rem;
        padding-left: 1rem;
    }

    .footer-middle {
        font-size: 0.7rem;
    }

    .footer-right p {
        font-size: 0.8rem;
    }

    .imgLlamaEllo {
        width: 5rem;
    }
}