header {
    background: url(../assets/img/Picos_Europa.jpg) round;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem 1rem;
}

header {
}

header figure img {
    width: clamp(4rem, 8vw, 7rem);
}

.header-title {
    text-transform: uppercase;
    font-size: clamp(1rem, 4vw, 3rem);
}

@media screen and (width <= 600px) {
    .header-title {
        font-size: 1.2rem;
    }
}
