.header {
    background: url(../assets/img/Picos_Europa.jpg) round;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-around;    
    padding: 0.7rem 1rem;
}

.header-image {
    max-width: 9vw;
    height: auto;
}

.header-title {
    font-family: "Libre Bodoni", Arial, Helvetica, sans-serif;
    font-size: 5vw;
}

@media screen and (width <= 600px) {
    .header {
        flex-direction: column;  
        text-align: center;
    }
}
