.history-container {
    margin: 0 100px;
}

.history-container-text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: justify;
    padding-bottom: 50px;
}

.history-container-text > p {
    margin-bottom: 1rem;
}

@media  (width <= 768px) {
    .history-container {
        margin: 0 40px;
    }
}
