.history-container {
    margin: 0 100px;
}

.history-container-text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: justify;
    padding-bottom: 50px;
}

.headline-partners {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}


@media  (width <= 768px) {
    .history-container {
        margin: 0 40px;
    }
}
