.links-container {
    margin: 0 100px;
}

.links-container p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-bottom: 1em;
}

.links-container ul li {
    margin-bottom: 0.5rem;
}

.links-container-item {
    font-size: clamp(1rem, 3vw, 2rem);
}

.links-container-item ul li a {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.links-anchor1 {
    color: red;
}

.links-anchor2 {
    color: black;
}

.links-anchor3 {
    color: rgb(0, 128, 0);
}

.links-anchor4 {
    color: rgb(165, 42, 42);
}

@media  (width <= 768px) {
    .links-container {
        margin: 0 3em;
    }
}
