.dropdown {
    background-color: #2e518b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown ul {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 2em;
}

.dropdown ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(1.2rem, 2vw, 3rem);
    transition: all 0.4s;
}

.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown1:hover .dropdown-options {
    background: rgb(91 120 167 / 90%);
    display: block;
    border-radius: .3rem;
}

.dropdown2:hover .dropdown-options {
    background: rgb(91 120 167 / 90%);
    display: block;
    border-radius: .3rem;
}

@media screen and (width <= 800px) {
    .dropdown ul {
        flex-direction: column;
        gap: 0;
    }
}




