body {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.photography-container {
    margin: 0 100px;
}

.photography-container-text {
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: justify;
    padding-bottom: 50px;
}

.photography-container-link {
    text-align: center;
    padding-bottom: 50px;
}

.photography-container-link a {
    display: inline-block;
    background-color: #2c5282;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.photography-container-link a:hover {
    background-color: #1a365d;
}

.gallery-section {
    /* padding: 3rem 2rem; */
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.gallery-section h3 {
    text-align: center;
    font-size: 3rem;
    color: #8b4513;
    margin-bottom: 2rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.gallery-grid img {
    width: 80%;
    height: 50vh;
    border-radius: 10px;
    object-fit: cover;
}

.gallery-grid figcaption {
    font-size: 1.3rem;
    text-align: center;
}


@media (width <=768px) {
    .photography-container {
        margin: 0 40px;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
}