.photos-container {
    margin: 0 100px;
}

.photos-container-ul {
    padding: 0 3rem;
}

.photos-container-ul li {
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding-bottom: 1.5rem;
    text-decoration: underline;
}

@media screen and (width <= 768px) {
    .photos-container {
        margin: 0 1rem;
    }

    .photos-container-ul {
        display: flex;
        justify-content: center;
    }
}


