.gallery-container header h4 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
}

.gallery-grid-year {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.gallery-grid-year img {
    width: 80%;
    height: 30vh;
    border-radius: 10px;
    object-fit: cover;
}

.gallery-grid-year figcaption {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.iframe {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.iframe iframe {
    border: none;
    border-radius: 10px;
}


@media (width <=768px) {
    .gallery-grid-year {
        grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
        gap: 1rem;
    }

    .gallery-container header h4,
    .gallery-grid-year figcaption {
        font-size: 1rem;
    }
}