.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.section-column1, .section-column2 {
    width: 48%;
}

.article-column1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "head head"
                         "news1 news2";
}

.article {
    margin: 1em 1em;
}

.article1 {
    grid-area: news1;
}

.article2 {
    grid-area: news2;
}

.article-headline {
    grid-area: head;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.article-column2 h2 {
    /* font-size: 1.5em; */
    font-size: clamp(1rem, 2.5w, 1.8rem);
    font-weight: bold;
    margin: 1em 0;
}

.article img {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
}


.aside-weather {
    margin: 3em 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
}

.aside-weather-column1 {
    background-color: blueviolet;
    padding: 1em;
    border-radius: 0.8em;

}

.aside-weather-column2 {
    background-color: yellowgreen;
    padding: 1em;
    border-radius: 0.8em;

}

.aside-weather-column3 {
    background-color: darkorange;
    padding: 1em;
    border-radius: 0.8em;

}

@media screen and (max-width: 768px) {
    .section-column1, .section-column2 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .article-column1 {
        grid-template-columns: 1fr;
    }
}
