  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }

  /* Secci칩n principal con Grid */
  .section-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Columna 1 - VillaCabra Trail */
  .section-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #f5f5f5;
    height: 300px;
    align-content: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .section-item1 h2 {
    font-size: 1.8rem;
    color: #2c5282;
    text-align: center;
  }

  .section-item1 a {
    text-decoration: none;
    color: #2c5282;
  }

  .section-item1-running,
  .section-item1-camera {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .icon-running, .icon-camera {
    display: flex;
    align-items: center;
  }

  .icon-running img, .icon-camera img {
    width: 35px;
  }

  /* Columna 2 - Noticias */
  .section-item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .section-article-headline {
    font-size: 3rem;
    color: #2c5282;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #2c5282;
  }

  .section-item2-text h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }

  .section-item2-text p {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .section-item2-img {
    text-align: center;
  }

  .section-item2-img img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5px;
  }

  /* Columna 3 - Pr칩xima salida y clima */
  .section-item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* display: grid; */
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .section-item3-article {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .section-item3-article h2 {
    font-size: 2rem;
    margin: 15px 0;
    line-height: 1.4;
  }

  .section-item3-article a {
    display: inline-block;
    background-color: #2c5282;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    transition: background-color 0.3s;
  }

  .section-item3-article a:hover {
    background-color: #1a365d;
  }  

  /* Media queries para hacer el dise침o responsive */
  @media (max-width: 960px) {
    .section-container {
      grid-template-columns: 1fr 2fr;
    }

    .section-item1 {
      grid-column: 1 / 2;
    }

    .section-item2 {
      grid-column: 2 / 3;
      grid-row: 2;
    }

    .section-item3 {
      grid-column: 2 / 3;
    }    
  }

  @media (max-width: 768px) {
    .section-container {
      grid-template-columns: 1fr;
      /* Una sola columna en pantallas peque침as */
    }

    .section-item1 {
      height: auto;
    }

    .section-item2 {
      grid-row: 3 / 4;
    }

    .section-item3 {
      grid-row: 2 / 3;
    }
    
    .section-item1,
    .section-item2,
    .section-item3 {
      grid-column: 1;
      /* Todas las columnas ocupan todo el ancho */
      /* grid-row: auto; */
      /* Restablece la propiedad grid-row */
    }    
  }

  @media (max-width: 480px) {
    .section-container {
      padding: 10px;
      gap: 15px;
    }

    .section-item1,
    .section-item2,
    .section-item3 {
      padding: 15px;
    }

    .section-item2-text h2 {
      font-size: 1rem;
    }

    .section-item2-text p {
      font-size: 1rem;
    }

    .section-article-headline {
      font-size: 1.5rem;
    }

    .section-item3-article h2 {
      font-size: 1rem;
    }

  }